#detailProgram {
    min-width: 100%;
    text-align: center;
    margin: 0 2 1 2;
}

.labelCenter {
    text-align: center;
}

.labelLeft {
    margin: 1 0 0 1;
}

Select, Input {
    margin: 0 1 1 1;
}

Button {
    width: 100%;
    margin: 1 1 1 1;
}

Log {
    margin: 0 2 1 2
}